<div fxLayout="column wrap" class="lightGrayBg" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <h2 class="purpleText">
      Controls and Validations</h2>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3>
        Simple Validations</h3>
    </div>
    <form>
      <div fxLayout="row wrap" class="width80" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="center stretch" [fxShow]="true">
          <p class="lightPurpleText">
            required text</p>
        </div>
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput [required]="false">

          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>