<div fxLayout="column wrap" class="purpleBg" fxLayoutAlign="space-between center" [fxShow]="true">
  <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-icon class="icons">home</mat-icon>
  </div>
  <div fxLayout="row wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon class="icons">home</mat-icon>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon>home</mat-icon>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon>home</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/face.jpg"></div>
</div>