/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
$navPurple:#9e34df;
$gray:#efedf1;
$lightgary:#faf9fa;
$lightPurple:#d5ced9;
$white:white;

*{
    margin:0;
    padding:0;
}
.purpleBg{
    background-color: $navPurple;
}
.lightGrayBg{
    background-color: $lightgary;
}
.icons{
    color:$white;
}
.purpleText{
    color: $navPurple;
}
.width100{
width:100%;
}
.width80{
width:80%;
}
.lightPurpleText{
    color:$lightPurple;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0!important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0!important;
}
.mat-form-field-wrapper {
    padding-bottom: 0!important;
}
input.mat-input-element {
    margin-top: -0.0625em;
    padding-bottom: 8px;
}
.height100vh{
    height:100vh;
}
.image{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
